
# Diretórios e arquivos gerados pelo Eclipse/STS
.metadata/
.settings/
.loadpath
.project
.classpath
.recommenders/
.springBeans
.externalToolBuilders/
*.launch

# Diretórios de build e compilação
bin/
target/
build/

# Arquivos temporários e de backup
tmp/
*.tmp
*.bak
*.swp
*~.nib

# Arquivos específicos de ferramentas
.factorypath
.buildpath
.cache-main
.scala_dependencies
.worksheet
.apt_generated/
.apt_generated_test/

# Arquivos locais de configuração
local.properties

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log
